@import "tailwindcss";

:root {
    --main-font-: 'Inter', sans-serif;
    --color-dark-blue: #11224E;
    --color-blue: #2E5283;
    --color-beige: #FFFAF0;
}

body {
    background-color: var(--color-beige);
}